<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body data-spy="scroll" data-target=".navbar-fixed-top" roleId="page-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h3>Schedule An Appointment</h3>
            <form id="appointmentForm" method="post" th:action="@{/appointment/create}">
                <input name="id" th:value="${appointment.id}" type="hidden"/>

                <div class="form-group">
                    <label for="dateString">Pick a Date from:</label>
                    <div class="input-append date form_datetime input-group" data-date="YYYY-MM-DD">
                        <!--2016-10-21T15:25:00Z-->
                        <input class="form-control" id="dateString" name="dateStringFrom" readonly="readonly"
                               required="required" th:value="${dateStringFrom}"
                               type="text" value=""/>
                        <span class="input-group-addon"><i aria-hidden="true" class="fa fa-times"></i></span>
                        <span class="input-group-addon"><i aria-hidden="true" class="fa fa-calendar"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dateString">Pick a Date To:</label>
                    <div class="input-append date form_datetime input-group" data-date="YYYY-MM-DD">
                        <input class="form-control" id="dateString" name="dateStringTo" readonly="readonly"
                               required="required" th:value="${dateStringTo}"
                               type="text" value=""/>
                        <span class="input-group-addon"><i aria-hidden="true" class="fa fa-times"></i></span>
                        <span class="input-group-addon"><i aria-hidden="true" class="fa fa-calendar"></i></span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="location">Pick a location:</label><!--location.doctorAccount.dateID-->
                    <select class="form-control" id="location" name="location" th:value="0">
                        <option disabled="disabled" selected="selected" value="0"> -- select the location --</option>

                        <option th:each="location,iterStat : ${locations}" th:text="${location[0]}"
                                th:value="${location[0]}"></option>

                    </select>
                </div>


                <input name="${_csrf.parameterName}"
                       type="hidden"
                       value="${_csrf.token}"/>

                <a class="btn btn-primary" id="submitAppointment">Search</a>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
    <br/>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="example">
        <thead>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>schedule it</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="datess : ${datesav}">

            <td data-th-text="${datess.doctorAccount.categoryDoctor}">...</td>
            <td data-th-text="${datess.doctorAccount.firstName} + ' ' +${datess.doctorAccount.lastName}">...</td>
            <td data-th-text="${datess.doctorAccount.city}">...</td>
            <td data-th-text="${datess.dateAvailable}">...</td>
            <td data-th-text="${datess.timeAvailable}">...</td>
            <td><a class="btn btn-warning btn-xs" id="buttonappointment"
                   th-text="(id1=${datess.dateID})"
                   th:onclick="|window.location.href='/appointment/create/scheduled/${datess.dateID}'|">Schedule it</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<div th:replace="common/header :: body-bottom-scripts"/>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
</body>
</html>