<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body data-spy="scroll" data-target=".navbar-fixed-top" roleId="page-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <!--style="width: 110rem; margin: 0 auto; margin-bottom: 1rem; padding: 0rem;"-->

                <div class="panel-heading"><h3>Contact</h3></div>
                <div class="panel-body"><!--Panel Content-->
                    <div class="panel panel-default">

                        <div class="panel-heading"><h3>Personal</h3></div>
                        <div class="panel-body">

                            <form id="updateInfoForm" method="post" th:action="@{/account/personalAccount}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="username">username</label>
                                            <input class="form-control" disabled id="username"
                                                   th:placeholder="${UserName}" type="text">
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first">First Name</label>
                                            <input class="form-control" id="firstName" name="firstNameU"
                                                   th:placeholder="${FirstName}"
                                                   th:value="${firstNameU}" type="text" value="">
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->
                                </div>

                                <!--  row   -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="last">Last Name</label>
                                            <input class="form-control" id="lastName" name="lastNameU"
                                                   th:placeholder="${LastName}" th:value="${lastNameU}" type="text">
                                        </div>


                                    </div>
                                    <!--  col-md-6   -->

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="phonePatient">Phone Number</label>
                                            <input class="form-control" id="phonePatient" name="phoneU"
                                                   th:placeholder="${Phone}"
                                                   th:value="${phoneU}" type="tel">
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->
                                </div>
                                <!--  row   -->


                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="emailPatient">Email address</label>
                                            <input class="form-control" disabled id="emailPatient"
                                                   th:placeholder="${Email}" type="email">
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cityPatient">City</label>
                                            <input class="form-control" id="cityPatient" name="cityU"
                                                   th:placeholder="${City}"
                                                   th:value="${cityU}" type="text">
                                        </div>

                                    </div>
                                    <!--  col-md-6   -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="streetPatient">Street Address</label>
                                            <input class="form-control" id="streetPatient" name="streetU"
                                                   th:placeholder="${Street}"
                                                   th:value="${streetU}" type="text">
                                        </div>

                                    </div>
                                    <!--  col-md-6   -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="datePatient">Date of Birth</label>
                                            <input class="form-control" disabled id="datePatient"
                                                   th:placeholder="${Date}"
                                                   type="text">
                                        </div>

                                    </div>
                                    <!--  col-md-6   -->
                                </div>
                                <!--  row   -->

                                <input name="${_csrf.parameterName}"
                                       type="hidden"
                                       value="${_csrf.token}"/>

                                <button class="btn btn-primary" type="submit">Update</button>
                            </form>
                            <!------------------------------------------------------->

                        </div>
                    </div>

                    <div class="panel panel-default">

                        <div class="panel-heading"><h3>Family doctor</h3></div>
                        <div class="panel-body">
                            <!-- here inputs with some with button change CRUD-->
                            <!--flexbox tutorial youtube overflow scroll-->

                            <!------------------------------------------------------->
                            <form id="updateDoctorForm" method="post" th:action="@{/account/personalAccount}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="category">categoryDoctor</label>
                                            <input class="form-control" disabled id="category" placeholder=""
                                                   type="text">
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first">First Name</label>
                                            <input class="form-control" id="first" placeholder="" type="text">
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->
                                </div>

                                <!--  row   -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="last">Last Name</label>
                                            <input class="form-control" id="last" placeholder="" type="text">
                                        </div>


                                    </div>
                                    <!--  col-md-6   -->

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="phoneDoctor">Phone Number</label>
                                            <input class="form-control" disabled id="phoneDoctor" placeholder=""
                                                   type="tel">
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->
                                </div>
                                <!--  row   -->


                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="emailDoctor">Email address</label>
                                            <input class="form-control" disabled id="emailDoctor" placeholder=""
                                                   type="email">
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cityDoctor">City</label>
                                            <input class="form-control" disabled id="cityDoctor" placeholder=""
                                                   type="text">
                                        </div>

                                    </div>
                                </div>
                                <!--  row   -->

                                <input name="${_csrf.parameterName}"
                                       type="hidden"
                                       value="${_csrf.token}"/>
                                <button class="btn btn-primary" type="submit">Update</button>
                            </form>
                            <!------------------------------------------------------->

                        </div>
                    </div>
                    <button class="btn btn-primary" style="margin: 0 auto;" type="submit">Print</button>

                </div>

            </div>


            <div class="col-md-6">
            </div>
        </div>
    </div>
    <br/>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>