<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body data-spy="scroll" data-target=".navbar-fixed-top" roleId="page-top">
<!--<head th:replace="common/header :: navbar" />-->
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Sign Up</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" th:action="@{/signup}">

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="firstName">First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-user fa"></i></span>
                            <input class="form-control" id="firstName" name="firstName"
                                   placeholder="Enter your first name"
                                   required="required" roleId="firstname" th:value="${patient.firstName}"
                                   type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="lastName">Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-user fa"></i></span>
                            <input class="form-control" id="lastName" name="lastName" placeholder="Enter your last name"
                                   required="required" roleId="lastName" th:value="${patient.lastName}"
                                   type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="lastName">Date of Birth</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true"
                                                               class="fas fa-birthday-cake fa"></i></span>
                            <input class="form-control" id="dateOfBirth" name="dateOfBirth" required="required"
                                   roleId="dateOfBirth" th:value="${patient.dateOfBirth}" type="date"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="phone">Phone</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-phone fa"></i></span>
                            <input class="form-control" id="phone" name="phone" placeholder="xxx-xxx-xxxx"
                                   required="required"
                                   roleId="phone" th:value="${patient.phone}" type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="phone">City</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-phone fa"></i></span>
                            <input class="form-control" id="city" name="city" placeholder="e.g thessaloniki"
                                   required="required"
                                   roleId="city" th:value="${patient.city}" type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="email">Your Email</label><span
                        class="bg-danger pull-right" th:if="${emailExists}">Email already exists</span>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-envelope fa"></i></span>
                            <input class="form-control" id="email" name="email" placeholder="Enter your Email"
                                   required="required"
                                   roleId="email" th:value="${patient.email}" type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="username">Username</label><span
                        class="bg-danger pull-right" th:if="${usernameExists}">Username already exists</span>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-users fa"></i></span>
                            <input class="form-control" id="username" name="username" placeholder="Enter your Username"
                                   required="required" roleId="username" th:value="${patient.username}"
                                   type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="password">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                            <input class="form-control" id="password" name="password" placeholder="Enter your Password"
                                   required="required" roleId="password" th:value="${patient.password}"
                                   type="password"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="showPassword" type="checkbox"/>Show Password
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button class="btn btn-primary btn-lg btn-block login-button" type="submit">Sign up!</button>
                </div>

                <hr/>

                <div class="form-group ">
                    <a class="btn btn-info btn-lg btn-block login-button" th:href="@{/}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>