<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>

<nav class="navbar navbar-clean navbar-expand-md">
  <button class="navbar-toggler collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse"
          type="button"><span class="sr-only">Toggle navigation</span>
    &#x2630;
  </button>
  <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Admin Portal</a>
  <!-- Collect
  the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><!--colappsed or collapse-->
    <ul class="nav navbar-nav">
      <li [style.display]="getDisplay()" class="nav-item"><a class="nav-link" routerLink="/patientAccount"
                                                             routerLinkActive="active"> Manage Accounts <span
        class="sr-only">(current)</span></a>
      </li>
      <li [style.display]="getDisplay()" class="nav-item"><a class="nav-link" routerLink="/saveExport"
                                                             routerLinkActive="active"> Save/Export <span
        class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li [style.display]="getDisplay()" class="nav-item"><a (click)="logout()" class="nav-link"
                                                             style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>
</nav>
