<h1>Patient Account Page</h1>

<style>
  .modal {
    display: block !important; /* I added this to see the modal, you don't need this */
  }

  /* Important part */
  .modal-dialog {
    overflow-y: initial !important
  }

  .modal-body {
    height: 80vh;
    overflow-y: auto;
  }
</style>


<div align="right">
  <button (click)="addDataPatient(content)" class="btn btn-outline-primary mb-2 mr-2 btn-ripple" name="add_patient"
          style="margin:5px;"
          type="button">Add Patient
  </button>
  <button (click)="addDataDoctor(contentD)" class="btn btn-primary mb-2 mr-2 btn-ripple" name="add_doctor"
          style="margin:5px;"
          type="button">Add Doctor
  </button>

</div>
<!-- class="table table-striped" cellspacing="0" width="100%" -->
<!--<table datatable [dtOptions]="dtOptions" class="row-border hover">id="userTable"-->
<table class="row-border hover" id="userTableD"><!--id="userTable"-->
  <thead>
  <tr>
    <!-- <th>ID</th>  -->
    <th>User Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>enabledAcc</th>
    <th>isDoctor</th>
    <th style="display:none;">isDoctor</th>
    <th>Account</th>
    <th style="display:none;">Account</th>
    <th>DeleteAcc</th>
  </tr>
  </thead>
  <tbody *ngIf="patientUser?.length != 0">
  <tr *ngFor="let patient of test1">
    <!-- <td>{{patient.patientID}}</td>  -->
    <td>{{patient.username}}</td>
    <td>{{patient.firstName}}</td>
    <td>{{patient.lastName}}</td>
    <td>{{patient.email}}</td>
    <td>{{patient.phone}}</td>
    <td>{{patient.enabled}}</td>
    <td [hidden]="patient.doctorIs"><a (click)="enableDoctor(contentDoctor, patient.username)" class="text-primary"
                                       style="cursor: pointer;">Enable</a></td>
    <td [hidden]="!patient.doctorIs"><a (click)="disableDoctor(patient.username)" class="text-primary"
                                        style="cursor: pointer;">Disable</a></td>
    <td [hidden]="patient.enabled"><a (click)="enableUser(patient.username)" class="text-primary"
                                      style="cursor: pointer;">Enable</a></td>
    <td [hidden]="!patient.enabled"><a (click)="disableUser(patient.username)" class="text-primary"
                                       style="cursor: pointer;">Disable</a></td>
    <td><a (click)="deleteUserPrompt('autofocus', patient)" class="text-primary" style="cursor: pointer;">Delete</a>
    </td>
  </tr>
  <tbody *ngIf="patientUser?.length == 0">
  <tr>
    <td class="no-data-available" colspan="3">No data!</td>
  </tr>
  </tbody>

</table>

<ng-template #content let-modal>
  <form #userForm="ngForm" (ngSubmit)="onSubmitP()" method="post"><!--class="form-inline"-->
    <div class="modal-header">
      <h4 class="modal-title">Add {{nameEvent}}</h4>
      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <div *ngIf="error" class="alert alert-danger alert-dismissible">
        <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
        {{errorMessage}}
      </div>
      <div class="form-group">
        <label>Enter First Name</label>
        <input [(ngModel)]="first_name" class="form-control" name="first_name" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter Last Name</label>
        <input [(ngModel)]="last_name" class="form-control" name="last_name" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter Date of Birth</label>
        <!-- <input type="text" name="dateOfBirth" [(ngModel)]="dateOfBirth" class="form-control" /> -->

        <div class="input-group">
          <input #d="ngbDatepicker" [(ngModel)]="model"
                 class="form-control" name="dp" ngbDatepicker placeholder="yyyy-mm-dd">
          <div class="input-group-append">
            <button (click)="d.toggle()" class="btn btn-outline-secondary calendar" type="button"></button>
          </div>
        </div>

        <!-- <pre>Month: {{ date.month }}.{{ date.year }}</pre> -->
        <pre>Model: {{ model | json }}</pre>
      </div>
      <div class="form-group">
        <label>Enter Phone</label>
        <input [(ngModel)]="phone" class="form-control" name="phone" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter email</label>
        <input [(ngModel)]="email" class="form-control" name="email" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter City</label>
        <input [(ngModel)]="city" class="form-control" name="city" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter username</label>
        <input [(ngModel)]="username" class="form-control" name="username" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter password</label>
        <input [(ngModel)]="password" class="form-control" name="password" type="text"/>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="modal.close('Save click')" [disabled]="!userForm.form.valid" class="btn btn-danger"
              type="submit">Create
      </button>
      <button (click)="modal.dismiss('Close click')" class="btn btn-light" type="button">Close</button>
    </div>
  </form>
</ng-template>


<ng-template #contentD let-modal>
  <form #userForm="ngForm" (ngSubmit)="onSubmitD()" method="post"><!--class="form-inline"-->
    <div class="modal-header">
      <h4 class="modal-title">Add {{nameEvent}}</h4>
      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <div *ngIf="error" class="alert alert-danger alert-dismissible">
        <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
        {{errorMessage}}
      </div>
      <div class="form-group">
        <label>Enter First Name</label>
        <input [(ngModel)]="first_name" class="form-control" name="first_name" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter Last Name</label>
        <input [(ngModel)]="last_name" class="form-control" name="last_name" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter Date of Birth</label>
        <!-- <input type="text" name="dateOfBirth" [(ngModel)]="dateOfBirth" class="form-control" /> -->

        <div class="input-group">
          <input #d="ngbDatepicker" [(ngModel)]="model"
                 class="form-control" name="dp" ngbDatepicker placeholder="yyyy-mm-dd">
          <div class="input-group-append">
            <button (click)="d.toggle()" class="btn btn-outline-secondary calendar" type="button"></button>
          </div>
        </div>

        <!-- <pre>Month: {{ date.month }}.{{ date.year }}</pre> -->
        <pre>Model: {{ model | json }}</pre>
      </div>
      <div class="form-group">
        <label>Enter Phone</label>
        <input [(ngModel)]="phone" class="form-control" name="phone" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter email</label>
        <input [(ngModel)]="email" class="form-control" name="email" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter City</label>
        <input [(ngModel)]="city" class="form-control" name="city" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter username</label>
        <input [(ngModel)]="username" class="form-control" name="username" type="text"/>
      </div>
      <div class="form-group">
        <label>Enter password</label>
        <input [(ngModel)]="password" class="form-control" name="password" type="text"/>
      </div>
      <!--balta se class anti xima etsi password px patient.password-->
      <div class="form-group">
        <label>Enter Category</label>
        <input [(ngModel)]="category_doctor1" class="form-control" name="category" type="text"/>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="modal.close('Save click')" [disabled]="!userForm.form.valid" class="btn btn-danger"
              type="submit">Create
      </button>
      <button (click)="modal.dismiss('Close click')" class="btn btn-light" type="button">Close</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDoctor let-modal>
  <form #userForm="ngForm" (ngSubmit)="onSubmitDoctor()" method="post">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Doctor Insert info</h4>
      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="datesDoctorAvailable">Doctor Info</label>
        <div class="form-group">
          <label>Enter Category Doctor</label>
          <input [(ngModel)]="category_doctor" class="form-control" name="first_name" type="text"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="modal.close('Save click')" class="btn btn-outline-dark" type="submit">Save</button>
    </div>
  </form>
</ng-template>
